/* Starter CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body {
    background: #ffffff;
    margin:0;
    }

p {
    font-family: 'Avenir', sans-serif;
}

h1 {
    font-family: 'Poppins', 800, sans-serif;
}
    
img {
    display: block;
    width: 100%;
}

     /* Main Nav */
    
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:#EDF7F4;
      }
      
      .logo a {
        color: black;
      }
      .logo {
        padding-top: 15px;
        padding-bottom: 15px;
        white-space: nowrap;
      }
      
      .logo,
      .main-nav {
        list-style: none;
        text-transform: uppercase;
      }
      
      .logo a,
      .main-nav a {
        text-decoration: none;
        letter-spacing: 0.45rem;
      }
      
      .logo a:hover {
        color: #498C79;
      }
      /* make main nav flex and make it vertical */
      .main-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .main-nav a {
        display: block;
        padding: 1em;
        color: black;
      }
      .main-nav a:hover {
        background: #498C79;
      }
      
      .main-nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      
      .main-nav li:last-of-type a {
        border-bottom: none;
      }
      
      @media only screen and (min-width: 35em) {
        .main-nav {
          flex-direction: row;
          justify-content: center;
        }

        .main-nav a {
          border-top: none;
          border-bottom: none;
        }
      }
      
      /* Desktop Styles */
      
      @media only screen and (min-width: 60em) {
        .logo {
          margin-left: 20px;
        }
        .flex-container {
          flex-direction: row;
        }

        .main-nav {
          justify-content: flex-end;
        }
      
        .main-nav a {
          padding: 20px;
        }
    }      
      
    /* Main Nav */

     /* Hero */
      
     .hero {
        background-image:url('../photos/ocean.jpg');
        background-size: cover;
        padding: 4rem 2rem;
      }
          
          /* Grid styles */
          
          .hero {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 100vh;
          }
          
          .inner-hero {
            background: #ECF3F1;
            padding: 2rem;
            border-radius: 0.5rem;
          }
          
          .inner-hero > h1 {
            color: black;
            font-size: 4rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
         
          .subhead {
            color: #498C79;
            font-size: 1.25rem;
            font-weight: 200;
            text-align: center;
            letter-spacing: 1px;
            margin: 2em, 0em;
          }
          
          /* grids */
          .inner-hero {
            grid-column: 2;
          }
          
     /* Hero */

    /* About */

     .columns {
        display: grid;
        grid-gap: 1em;
        margin: 10px;
      }
    /* About */

/* media queries */

@media (min-width: 800px) {
    .columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .image.one {
      grid-column: 1;
    }
    .text.one {
      grid-column: 2;
    }
    .image.two {
      grid-column: 2;
    }
    .text.two {
      grid-column: 1;
      grid-row: 2;
    }
    .image.three {
      grid-column: 1;
    }
    .text.three {
      grid-column: 2;
    }
  }
  
  @media (min-width: 1200px) {
    .columns {
      grid-template-columns: repeat(3, 1fr);
    }
    .image.one {
      grid-column: 1;
    }
    .text.one {
      grid-column: 1;
    }
    .image.two {
      grid-column: 2;
      grid-row: 1;
    }
    .text.two {
      grid-column: 2;
    }
    .image.three {
      grid-column: 3;
      grid-row: 1;
    }
    .text.three {
      grid-column: 3;
    }
  }
/* media queries */

/* Blog */    
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: #EDF7F4;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    border: 1px gray solid;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  
  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
  
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
  
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: #498C79;
  }
  
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card footer {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
  }
/* Blog */ 