/* Starter CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body {
    background: #ffffff;
    margin:0;
    }

p {
    font-family: 'Avenir', sans-serif;
}

h1 {
    font-family: 'Poppins', 800, sans-serif;
}
    
h2 {
  font-family: 'Poppins', 600, sans-serif;
  margin: 1em;
}

img {
    display: block;
    width: 100%;
}

.main-footer {
  background-color: #EDF7F4;
  font-size: 10px;
  height: 90px;
  width: 100%;
}

.main-footer a {
  margin-left: 1em;
  padding: 0em;
}

.main-footer p {
  margin-left: 2em;
  padding-bottom: 2em;
  padding: 0em;
}

     /* Main Nav */
    
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:#EDF7F4;
      }
      
      .logo a {
        color: black;
      }
      .logo {
        padding-top: 15px;
        padding-bottom: 15px;
        white-space: nowrap;
      }
      
      .logo,
      .main-nav {
        list-style: none;
        text-transform: uppercase;
      }
      
      .logo a,
      .main-nav a {
        text-decoration: none;
        letter-spacing: 0.45rem;
      }
      
      .logo a:hover {
        color: #498C79;
      }
      /* make main nav flex and make it vertical */
      .main-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .main-nav a {
        display: block;
        padding: 1em;
        color: black;
      }
      .main-nav a:hover {
        background: #498C79;
      }
      
      .main-nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      
      .main-nav li:last-of-type a {
        border-bottom: none;
      }

      /* buttons */
      .shrink:hover {
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
        transition: all 1s ease;
      }
      
      @media only screen and (min-width: 35em) {
        .main-nav {
          flex-direction: row;
          justify-content: center;
        }

        .main-nav a {
          border-top: none;
          border-bottom: none;
        }
      }
      
      /* Desktop Styles */
      
      @media only screen and (min-width: 60em) {
        .logo {
          margin-left: 20px;
        }
        .flex-container {
          flex-direction: row;
        }

        .main-nav {
          justify-content: flex-end;
        }
      
        .main-nav a {
          padding: 20px;
        }
    }      
      
    /* Main Nav */

     /* Hero */
      
     .hero {
        background-image:url('../photos/ocean.jpg');
        background-size: cover;
        padding: 4rem 2rem;
      }
          
          /* Grid styles */
          
          .hero {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 100vh;
          }
          
          .inner-hero {
            background: #ECF3F1;
            padding: 2rem;
            border-radius: 0.5rem;
          }
          
          .inner-hero > h1 {
            color: black;
            font-size: 4rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
         
          .subhead {
            color: #498C79;
            font-size: 1.25rem;
            font-weight: 200;
            text-align: center;
            letter-spacing: 1px;
            margin: 2em, 0em;
          }
          
          /* grids */
          .inner-hero {
            grid-column: 2;
          }
          
     /* Hero */

    /* About */

     .columns {
        display: grid;
        grid-gap: 1em;
        margin: 10px;
      }

      .columns h1 {
        color: #498C79;
        margin-bottom: 0.5em;
      }
    /* About */

/* media queries */

@media (min-width: 800px) {
    .columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .image.one {
      grid-column: 1;
    }
    .text.one {
      grid-column: 2;
    }
    .image.two {
      grid-column: 2;
    }
    .text.two {
      grid-column: 1;
      grid-row: 2;
    }
    .image.three {
      grid-column: 1;
    }
    .text.three {
      grid-column: 2;
    }
  }
  
  @media (min-width: 1200px) {
    .columns {
      grid-template-columns: repeat(3, 1fr);
    }
    .image.one {
      grid-column: 1;
    }
    .text.one {
      grid-column: 1;
    }
    .image.two {
      grid-column: 2;
      grid-row: 1;
    }
    .text.two {
      grid-column: 2;
    }
    .image.three {
      grid-column: 3;
      grid-row: 1;
    }
    .text.three {
      grid-column: 3;
    }
  }
/* media queries */

/* Blog */    
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: #EDF7F4;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    border: 1px gray solid;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  
  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
  
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
  
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: #498C79;
  }
  
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card footer {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
  }

  .card a {
    text-decoration: none;
    color: #498C79;
  }

  .card footer a{
    color: #999;
  }
/* Blog */ 


/* Contact */ 
.contact {
    display: grid;
    grid-gap: 1em;
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact h1 {
    color: #498C79;
    margin-bottom: 0.5em;
  }

  /* media queries */

@media (min-width: 800px) {
  .contact{
        grid-template-columns: repeat(2, 1fr);
    }
    .image.four {
        grid-column: 1;
      }
      .text.four {
        grid-column: 2;
      }
  }
/* media queries */

  /* Gallery */ 
  @media screen and (min-width: 600px) {
    .photo-grid img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  .photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }

  .card-big {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
}

/* Medium screens */
.photo-grid {
  grid-auto-flow: dense;
}

 /* Parallax/Travel Photos */

 .headerbox {
  height: 100vh;
  position: relative;
  background-image: url('../photos/ocean.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.second-image {
  position: relative;
  height: 600px;
  background-image: url('../photos/moab_ut.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.third-image {
  position: relative;
  height: 600px;
  background-image: url('../photos/fortbragg_ca.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.content {
  margin: 0 auto;
  max-width: 90ch;
  height: 50vh;
  padding: 2rem;
}

.content article {
  padding-top: 50px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.3;
}

.content a {
  text-decoration: none;
  color: #498C79;
}

.transparent {
  height: 10em;
  width: 100%;
  position: absolute;
  top: 75%;
  margin-top: 5em;
}

.transparent h2 {
  font-size: 4vw;
  text-align: end;
  padding-right: 30px;
  color: #498C79;
}

.title {
  height: 280px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.title h1 {
  color: #ffffff;
  font-size: 10vw;
}

